/EfashionCool.Article/bin
/EfashionCool.Article/obj
/EfashionCool.Domain/bin
/EfashionCool.Domain/obj
/EfashionCool.Infrastructure/bin
/EfashionCool.Infrastructure/obj
/EfashionCool.Manager/bin
/EfashionCool.Manager/obj
/EfashionCool.Test/bin
/EfashionCool.Test/obj
/EfashionCool.WebSite/Bin
/TestResults
