<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DevLib.Properties.BaiduMap2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="DevLib.Properties.BaiduMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="DevLib.BaiduMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <DevLib.Properties.BaiduMap>
      <setting name="ServiceAK" serializeAs="String">
        <value>TMzlZXetCzK9t9fSdKO7v35T</value>
      </setting>
      <setting name="ServiceSK" serializeAs="String">
        <value/>
      </setting>
      <setting name="VerificationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoadMapMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MapCachePath" serializeAs="String">
        <value>E:\</value>
      </setting>
    </DevLib.Properties.BaiduMap>
  </userSettings>

  <appSettings>

    <!--蒙牛-短信通道的参数设置-->
    <add key="Sms_PackName" value="MengNiuSmsPackage"/>
    <add key="Sms_Url" value="http://sendsms.mengniu.com.cn/TransactionInterface.ashx"/>
    <add key="Sms_UserName" value="mnmicromall"/>
    <add key="Sms_Password" value="123qweasd"/>
    <add key="Sms_Mark" value="4"/>


    <!-- 垦丰-短信通道的参数设置 --><!--
    <add key="Sms_PackName" value="KenFengSmsPackage"/>
    <add key="Sms_Url" value="http://106.ihuyi.cn/webservice/sms.php?method=Submit"/>
    <add key="Sms_UserName" value="cf_lgkj"/>
    <add key="Sms_Password" value="kenfeng@2016"/>-->
    
    

    <add key="Sys_MaxExportThreadCount" value="200"/>

    <!-- 生成二维码的接口地址 -->
    <add key="Url_Qr_Image_Create" value="http://qr.liantu.com/api.php?text={0}"/>
    <!-- 生成二维码的Logo -->
    <add key="Path_Qr_Icon_File" value="images\logo.ico"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
